body {
	background-color:#1b1b1b;
}

.youtube {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.twitter {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.twitch {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.reddit {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 275px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.gmail {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 275px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.whatsapp {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 275px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.amazon {
	height: 250px;
	width: 250px;
	margin-top: -790px;
	margin-left: 540px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.netflix {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-left: 540px;
	background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px; /* Bordes ligeramente redondeados */
}

.changelog {
	text-align: left;
	position: fixed;
	bottom: 0;
	left: 10px;
	font-size: 18px;
	color: #949494;
	font-family: Courier New;
	text-decoration: none;
}

.nipz58 {
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 10px;
	font-size: 18px;
	color: #949494;
	font-family: Courier New;
	text-decoration: none;
}

.changelogs {
	color: white;
	font-size: 18px;
	font-family: Courier New;
	margin-left: 10px;
	list-style: square;
}
